### Conditionals

In [1]:
a = 33
b = 200
if b > a:
    print('b is greater than a')

b is greater than a

In [2]:
a = 200
b = 33

if b > a:
    print('b is greater than a')
elif a == b:
    print('a and b are equal')
else:
    print('a is greater than b')

a is greater than b

In [3]:
if a > b: print('a is greater than b')

a is greater than b

In [4]:
a = 2
b = 330

print('A') if a > b else print('B')

B

In [ ]:
a = 200
b = 33
c = 500

if a > b and c > a:
    print('Both conditions are True!')

if a > b or a > c:
    print('At least')

### Batch Script

In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [10]:
# Example connection string for Windows Authentication
connection_string = 'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\ecommerce_DB.mdf'

In [11]:
engine = create_engine(connection_string)

ArgumentError: Could not parse rfc1738 URL from string 'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\ecommerce_DB.mdf'

In [38]:
import pyodbc 

# Connection untuk terhubung ke Driver
conn = pyodbc.connect('Driver={SQL Server};'
                      'Server=LAPTOP-SFC7TKU1;'
                      'Database=ecommerce_DB;'
                      'Trusted_Connection=yes;')

cursor = conn.cursor() #traverse the result set of a query and process each row individually

df = pd.read_sql_query(('SELECT * FROM products'), conn)

df.head(10)

C:\Users\USER\AppData\Local\Temp\ipykernel_20912\2861206544.py:10: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(('SELECT * FROM products'), conn)

   id                                               name      price  stocks
0   1  Heavy Duty Automotive Gear Oil - Mobilube HD 8...   856000.0     100
1   2                Oli Mesin - Mobil 1 0W-20 (1 liter)   275000.0     100
2   3  Milk Frother Elektrik Pembuih Susu Baterai Han...    99000.0     100
3   4  Philips LOW WATT Air Fryer HD9200/91 - 800 Wat...   980000.0      20
4   5  COOGER Spin Mop Blue 360 derajat - Alat Pel La...    74900.0     120
5   6  Wardah Body Care Olive Series - Natural Halal ...    75240.0     100
6   7  Serum Avoskin Miraculous Refining 30ml-AHA BHA...   224000.0     100
7   8  Cetaphil Baby Daily Lotion with Organic Calend...    68500.0     150
8   9  Cocolatte Stroller Bayi CL 909 Spin Reversible...  1449000.0      20
9  10               Minimal Aires Shirt Green - GREEN, S   360000.0      30

In [27]:
df = pd.read_excel('MOCK_DATA.xlsx')
df.head(10)

   id tanggal_transaksi  quantity  id_obat  id_pelanggan
0   1          3/9/2023        17       12            15
1   2          9/9/2023        14        3            27
2   3         4/10/2023         4        5            26
3   4         1/28/2023         2        7            33
4   5         1/30/2023        15        6            18
5   6         1/27/2023         5        1             6
6   7         4/23/2023         1        6            36
7   8         5/17/2023         4       11            33
8   9         3/11/2024         1        2            38
9  10        10/12/2023         9       14            17

In [28]:
df = df.sort_values('quantity', ascending=True)
df.head(10)

      id tanggal_transaksi  quantity  id_obat  id_pelanggan
998  999         11/9/2023         1        7            25
163  164         1/21/2023         1       15            35
878  879         9/21/2023         1        5            28
243  244         5/18/2023         1        9            18
256  257        11/26/2023         1        2            20
669  670         9/25/2023         1        7            11
651  652         7/14/2023         1       13            10
639  640          4/5/2024         1        6            10
942  943         3/30/2024         1        7            32
626  627         2/28/2023         1        3            17

In [32]:
df.to_csv('latihan\output.csv', index = False)

In [35]:
df.to_csv(r'C:\Users\USER\Documents\GradXpert 2024\Day-7\output.csv')